.rpg-calendar {
    display: grid;
    grid-template-columns: repeat(var(--week), calc(100% / var(--week)));
    background-color: white;
    color: black;
}

.rpg-calendar-title {
    text-align: center;
}

.rpg-calendar-day {
    text-align: center;
}

.rpg-calendar-cell {
    aspect-ratio: 1 / 1;
    border: 1px dotted lightgray;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.rpg-calendar-cell::-webkit-scrollbar {
    display: none;
  }

.rpg-calendar-first {
    grid-column: var(--start);
}

.rpg-calendar-event {
    background-color: var(--event-color,royalblue);
    padding: 0 0.2em;
    margin: 0.1em;
    border-radius: 0.2em;
    cursor: pointer;
    height: 1.1rem;
    display: flex;
    align-items: center;
}

.rpg-calendar-event-text {
    font-size: 0.8em;
    padding: 0.1em 0;
    background: inherit;
    background-clip: text;
    color: transparent;
    filter: invert(1) brightness(200%) grayscale(1);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.rpg-calendar-dialog {
    border: 1px solid black;
    max-block-size: min(80vh, calc(100% - 2em));
    max-block-size: min(80dvb, calc(100% - 2em));
    max-inline-size: min(calc(100% - 2em), 60ch);
    box-shadow: 2px 2px 10px 1px #0004;
    cursor: auto;
}

.rpg-calendar-button {
    float: right;
}


@media screen and (max-device-width: 600px), screen and (max-width: 600px) {
    .rpg-calendar {
        display: block;
    }
    .rpg-calendar-cell {
        aspect-ratio: auto;
    }
    .rpg-calendar-cell:has(rpg-event) {
        display: none;
    }
    .rpg-calendar-day {
        display: none;
    }
}