.rpg-calendar {
    display: grid;
    grid-template-columns: repeat(var(--week), calc(100% / var(--week)));
}

.rpg-calendar-title {
    text-align: center;
}

.rpg-calendar-day {
    text-align: center;
}

.rpg-calendar-cell {
    aspect-ratio: 1 / 1;
    border: 1px dotted lightgray;
    color: gray;
}

.rpg-calendar-first {
    grid-column: var(--start);
}

.rpg-calendar-dialog {
    border: 1px solid black;
    max-height: 50vh;
    max-width: 90vw;
}

.rpg-calendar-button {
    float: right;
}

